.modal-open{
    background-color: rgba(0, 0, 0, 0.8);
    overflow: hidden;
}

.album-root{
    margin: 0 0 260px 0;
}

.gallery-section{
    position: relative;
}

.album-preview{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    margin-top: 55px;
    position: relative;
}

.photo-preview{
    width: 25%;
}

.preview-title{
    font-family: 'Cormorant Garamond', serif;
    font-size: 74px;
    font-weight: 300;
    margin: 40px 0 10px 0;
    
}

.preview-title-2{
    font-family: 'Great Vibes', cursive;
    font-size: 48px;
    font-weight: 400;
    margin-bottom: 15px;
}

.preview-date{
    font-family: 'Cormorant Garamond', serif;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 30px;
}

.arrow{
    margin-bottom: 150px;
    cursor: pointer;
    position: absolute;
    top: 90%;
    left: 50%;
    transform:translate(-50%, 0);
}

.react-photo-gallery--gallery img{
    width: 47%;
    height: 47%;
    margin: 10px !important;
}

.react-photo-gallery--gallery img:hover{
    opacity: 0.9;
}

@media screen and (min-width: 250px) and (max-width: 375px){

    .album-preview{
        margin-top: 4vh;
    }

    .photo-preview{
        width: 65%;
    }

    .preview-title{
        font-size: 27px;
        margin-bottom: 21px;
    }
    
    .preview-title-2{
        font-size: 21px;
        margin-bottom: 10px;
    }
    
    .preview-date{
        font-size: 13px;
    }

    .react-photo-gallery--gallery img{
        width: 95%;
        height: 95%;
    }
}

@media screen and (min-width: 321px) and (max-width: 375px) and (max-width: 640px){

    .album-preview{
        margin-top: 5vh;
    }
}

@media screen and (min-width: 376px) and (max-width: 575px){

    .album-preview{
        margin-top: 16vh;
    }

    .photo-preview{
        width: 65%;
    }

    .preview-title{
        font-size: 38px;
        margin: 10px 0 10px 0;
    }
    
    .preview-title-2{
        font-size: 30px;
        margin-bottom: 10px;
    }
    
    .preview-date{
        font-size: 16px;
    }

    .react-photo-gallery--gallery img{
        width: 95%;
        height: 95%;
    }
}

@media screen and (min-width: 576px) and (max-width: 768px){

    .album-preview{
        margin-top: 6vh;
    }

    .photo-preview{
        width: 50%;
    }

    .preview-title{
        font-size: 55px;
        margin-bottom: 21px;
    }
    
    .preview-title-2{
        font-size: 41px;
        margin-bottom: 17px;
    }
    
    .arrow{
        top: 75%;
    }

    .react-photo-gallery--gallery img{
        width: 95%;
        height: 95%;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px){

    .album-preview{
        margin-top: 8vh;
    }

    .photo-preview{
        width: 37%;
    }

    .preview-title{
        font-size: 60px;
        margin: 20px 0 10px 0;
    }
    
    .arrow{
        top: 70%;
    }

    .react-photo-gallery--gallery img{
        width: 95%;
        height: 95%;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1440px){

    .album-preview{
        margin-top: 3vh;
    }
    
    .photo-preview{
        width: 28%;
    }
    .preview-title{
        margin-bottom: 18px;
    }

    .preview-date{
        font-size: 16px;
    }

}

@media screen and (min-width: 1441px) and (max-width: 1920px){

    .album-preview{
        margin-top: 4vh;
    }
    
    .photo-preview{
        width: 23%;
    }

    .preview-title{
        font-size: 60px;
        text-align: center;
        margin-bottom: 21px;
    }
    
}

@media screen and (min-width: 1921px) and (max-width: 2685px){

    .album-preview{
        margin-top: 10vh;
    }

    .photo-preview{
        width: 23%;
    }

    .preview-title{
        margin-bottom: 21px;
    }

    .react-photo-gallery--gallery img{
        width: 48%;
        height: 48%;
        margin: 10px !important;
    }
}