.overlay {
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
  }

.modal{
    width: 100%;
    max-width: 450px;
    background-color: rgb(177,159,137);
    border: solid #fff;
    position: sticky;
    left:50%;
    top: 25%;
    transform:translate(-50%);
    box-sizing: border-box;
}
.modal-cancel{
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px;
    border: none;
    padding: 0;
    background-color: #0000;
}

.modal-cancel:hover{
    transform: scale(1.2);
}
.modal-title{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.modal-title-text{
    font-family: 'Cormorant Garamond', serif;
    font-size: 24px;
    color: #fff;
    cursor: default;
}
.modal-social-information{
    display: flex;
    justify-content: space-evenly;
    margin: 100px 0 58px;
}

.modal-name{
    font-family: 'Cormorant Garamond', serif;
    font-size: 19px;
    margin-bottom: 20px;
    cursor: default;
}
.modal-line{
    border: 1px solid #fff;
    height: 120px;

}

.modal-social{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
.svg-icon{
    display: flex;
    gap: 20px;
}

.social-link:hover{
transform: scale(1.2);
}

@media screen and (min-width: 200px) and (max-width: 320px){

    .modal{
        height: 15%;
        top: 0%;
        transform:translate(0);
    }

    .modal-title-text{
        font-size: 18px;
    }
    
    .modal-name{
        font-size: 15px;
    }

    .modal-line{
        height: 73px;
    }
}

@media screen and (min-width: 321px) and (max-width: 375px){

    .modal{
        top: 50%;
        transform:translate(0);
    }
}

@media screen and (min-width: 376px) and (max-width: 575px){

    .modal{
        top: 50%;
        left: 3%;
        transform:translate(0);
    }
}


@media screen and (min-width: 576px) and (max-width: 768px){

    .modal{
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: -183px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1025px){

    .modal{
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: -183px;
    }
}